@font-face {
    font-family: digital;
     src: url("digital.ttf"); 
}

html, body {
    height: 100%;
    margin: 0;
}

.reghud {
    border-radius: 5%;
    width: 200px;
    height: 116px;
	background-image: url("backgroundv2.png");
    background-color:rgba(0, 0, 0, 0.85);
    border: 2px solid gray;
}

p {
    margin: 0 auto;
    font-family: digital;
}

#container {
    min-height: 100%;
}

#regcontainer {
    position: absolute;
    bottom: 310px;
    right: 45px;
}

.carSpeedLine1 {
    position: absolute;
	bottom: 28px;
	right: 75px;
	color: FF0000;
    font-size: 80px;
}

.carSpeedLine2 {
    position: absolute;
    bottom: 82px;
    right: 1px;
    color: FF0000;
    font-size: 36px;
}

.carRegLine1 {
    position: absolute;
    bottom: 1px;
    right: 63px;
    color: FF0000;
    font-size: 36px;
}